{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
<form action="/changepassword" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="old_password" placeholder="Old password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="new_password" placeholder="New password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm new password" type="password">
    </div>
    <button class="btn btn-outline-secondary btn-lg" type="submit">Change password</button>
</form>
{% endblock %}