{% extends "layout.html" %}

{% block title %}
    Sell Stock
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select-border-radius" aria-label="Default select example" name="symbol">
                    <option selected>Choose a cryptocurrency ticker to sell</option>
                {% for symbol in tickers %}
                    <option>{{ symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" placeholder="Number of coins" type="number">
        </div>
        <button class="btn btn-outline-danger btn-lg" type="submit">Sell Coins</button>
    </form>
{% endblock %}